.testimonilas {
    padding-top: 140px; 
    padding-bottom: 80px;
    background-color: var(--bg-color-header);
}

.testimonilas__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.testimonilas__box {
    max-width: 600px;
}

.testimonilas__title {
    font-size: 56px;
    line-height: 1.2;
    color: var(--text-primary);
    margin-bottom: 25px;
    font-weight: 800;
}

.testimonilas__title .highlight {
    color: transparent;
    -webkit-text-stroke: 1px var(--text-secondary); 
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
}

.testimonilas__text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
    margin-bottom: 35px;
}
.testimonilas__image-side {
    display: flex;
    justify-content: center;
}

.testimonilas__img {
    width: 100%;
    max-width: 500px;
    animation: floating 3s ease-in-out infinite; /* Uchish effekti */
}

@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

@media (max-width: 768px) {
    .testimonilas__container {
        flex-direction: column;
        text-align: center;
    }

    .testimonilas__title {
        font-size: 38px;
    }

    .testimonilas__text{
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .testimonilas__buttons {
        justify-content: center;
    }
    
    .testimonilas__img {
        max-width: 350px;
    }
}

