.footer {
    padding: 80px 0 40px;
    background-color: #081424; 
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer__container {
    width: 100%;
}
.footer__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    padding: 0;
}
.footer__list li {
    flex: 1;
    min-width: 200px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__list li:first-child {
    flex: 1.5;
    max-width: 300px;
}
.footer__list li img {
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
.footer__list li a:first-child {
    font-size: 20px;
    font-weight: 700;
    color: #3A68B8;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer__list h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer__list p {
    color: rgba(255, 255, 255, 0.884);
    font-size: 14px;
    line-height: 1.6;
}
.footer__link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__link i {
    color: #3A68B8; 
    width: 16px;
}

.footer__link:hover {
    color: #00d2ff; 
    transform: translateY(5px);
}
.webs {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.webs .footer__link {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.05);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s;
}
.webs .footer__link:hover {
    background: #3A68B8;
    color: #fff;
    transform: translateY(-5px);
}
.languages details {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    width: fit-content;
}

.languages summary {
    list-style: none;
    outline: none;
}
@media (max-width: 992px) {
    .footer__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px) {
    .footer__list {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .footer__list li {
        align-items: center;
        max-width: 100% !important;
    }

    .footer__link:hover {
        transform: none;
    }
}